.sad-avatar{
  height: 250px;
  background: url('../img/sad-avatar.svg') no-repeat;
}

.explaining-avatar{
  height: 250px;
  background: url('../img/explaining-avatar.svg') no-repeat;
}

.color-primary {
  color: #f4623a;
}

.happy-avatar{
  height: 250px;
  background: url('../img/happy-avatar.svg') no-repeat;
}

@media only screen and (max-width: 600px) {
  .sad-avatar{
    visibility: hidden;
    height: 0px;
  }

  .explaining-avatar{
    visibility: hidden;
    height: 0px;
  }


  .happy-avatar{
    visibility: hidden;
    height: 0px;
  }
}

.avatar {
  height: 200px;
  border-radius: 50%;
}

.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.logo {
  max-width: 350px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.logo-container {
  white-space: nowrap;
}

.member-container {
  width: 200px;
  margin: 0 auto;
}

.member-name {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem
}

.member-title {
  text-align: center;
  font-size: 0.8rem
}

.hidden {
  visibility: hidden;
  height: 0px;
}

.sub-section {
  padding: 4rem 0px;
}
